aside#page-main-aside

    .aside-contenidos
        .aside-contenidos__header.d-flex.justify-content-between.align-items-center
            .aside-contenidos__titulo
                span 
                    i.fa.fa-list-ul.mr-2
                    | Contenidos
            .aside-contenidos__close.d-md-none
                a.page-main-aside__close.icon.btnclose.m-0(href="#")

        nav.aside-contenidos__body
            ul#menuMain.menu-main


    .aside-extra.position-relative
        ul#menuSecondary.fixed-bottom.menu-secondary

