meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Normatividad para el manejo de prendas de dotación hospitalaria
meta(meta name="description" content="El contenido de la presente unidad, permitirá reconocer los aspectos relacionados con la relación entre las organizaciones y los Sistemas de Información, de igual forma sus características más relevantes para su funcionamiento.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")