.page-topbar
    .container-fluid
        .d-flex.justify-content-between.align-items-center
            .page-topbar__menu

                a.page-topbar__menu-icon.btn-menu-responsive(href="#")
                    span
                    span
                    span

                span.page-topbar__menu-title MENÚ

            .page-topbar__logo
                img.img-fluid(src='assets/images/logos/senaLogo.svg', alt='Logo SENA')
