h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 290601234-1
        p.mb-0 Apropiar la normatividad vigente y requerimientos técnicos para la elaboración de los productos.


