h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas 
                  +navTemaItem('1', 'Normatividad vigente y conceptos técnicos.', 'main.html#page/normativa_vigente/')
                  +navTemaItem('2', 'Caracterización de productos de dotación hospitalaria.', 'main.html#page/caracterizacion_productos/')
                  +navTemaItem('3', 'Materias primas e insumos para dotación hospitalaria.', 'main.html#page/materias_primas_insumos/')             
