.container

    .header-ecored
        h1 Actividad didáctica


    .row.align-items-center.justify-content-center.my-5
        .col-8.col-md-5.col-xl-4.mb-5
            figure
                img(src="assets/images/pages/actividad/img_actividad.svg", alt="")
        
        .col-12.col-md-7
            hr.line-100.bg-orange
            .text-center.p-2
                h2 ¡Pon a prueba tu conocimiento! 
                p La siguiente actividad tiene como propósito validar los conocimientos relacionados con el tema <strong>Elementos de una investigación de mercado</strong>.
                a(href="media/actividad-1/index.html" target="_blank" class="btn btn-colour-Orange") Iniciar            
            hr.line-100.bg-orange
        