.container

    table.table.table-bordered.table-striped
        thead.thead-orange
            tr
                th(colspan="3").text-center ECOSISTEMA DE RECURSOS EDUCATIVOS DIGITALES

        tbody
            tr
                td 
                    strong Ingry Dayanna Bonilla Monzón
                td Líder del equipo
                td Dirección General

        thead.thead-dark
            tr
                th(colspan="3").text-center Equipo de Contenido Instruccional

        tbody
            tr
                td 
                    strong Gloria Matilde Lee Mejía
                td Responsable del equipo
                td Centro de Comercio y Servicios – Regional Tolima

            tr
                td 
                    strong Rafael Nelftalí Lizcano Reyes
                td Asesor pedagógico
                td Centro Industrial del Diseño y la Manufactura - Regional Santander

            tr
                td
                    strong Nombre completo
                td Experto temático
                td Centro de formación

            tr
                td
                    strong Nombre completo
                td Evaluador de contenido
                td Centro de formación

            tr
                td 
                    strong Nombre completo
                td Diseñador instruccional
                td Centro de formación


    table.table.table-bordered.table-striped.my-5
        thead.thead-dark
            tr
                th(colspan="3").text-center Equipo de Diseño y Desarrollo

        tbody
            tr
                td 
                    strong Francisco José Lizcano Reyes
                td Responsable del equipo
                td Centro Industrial del Diseño y la Manufactura - Regional Santander

            tr
                td 
                    strong Nombre completo
                td Diagramación web 
                td Centro Industrial del Diseño y la Manufactura - Regional Santander
            tr
                td 
                    strong Nombre completo
                td Construcción documentos digitales
                td Centro Industrial del Diseño y la Manufactura - Regional Santander
            tr
                td 
                    strong Nombre completo 
                td Desarrollo front-end
                td Centro Industrial del Diseño y la Manufactura - Regional Santander

            tr
                td 
                    strong Nombre completo
                td Desarrollo de actividades didácticas
                td Centro Industrial del Diseño y la Manufactura - Regional Santander                         

            tr
                td 
                    strong Nombre completo
                td Integración de recursos y pruebas
                td Centro Industrial del Diseño y la Manufactura - Regional Santander        

   
    table.table.table-bordered.table-striped.my-5
        thead.thead-dark
            tr
                th(colspan="3").text-center Equipo de Gestores de Repositorio

        tbody
            tr
                td 
                    strong Kely Alejandra Quiros Duarte
                td Administrador repositorio de contenidos y gestores de repositorio.
                td Centro de Comercio y Servicios – Regional Tolima



    .row.justify-content-between.align-items-center

        .col-12.col-md-5.my-4
            .jumbotron.p-4.bg-white
                .d-flex.justify-content-center.align-items-center
                    p.text-center.pl-4
                        i.fa.fa-picture-o.fa-2x.text-center
                    p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

        .col-12.col-md-5.my-4
            .jumbotron.p-4.bg-white
                .d-flex.justify-content-center.align-items-center
                    p.text-center.pl-4
                        i.fa.fa-creative-commons.fa-2x.text-center
                    p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>