.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody

                tr
                    td ICONTEC, 2020, Normas relacionadas con el control de la pandemia por Coronavirus-COVID-19.
                    td Sitio web
                    td 
                        a(href="https://www.icontec.org/nuestro-proposito-es-dejar-una-huella-de-confianza-en-cada-una-de-nuestras-acciones-2/", target="_blank") <span class="download" aria-hidden="true"></span> Ver sitio 
                tr
                    td Universidad de Antioquia - Facultad de medicina, ropa quirúrgica.
                    td Presentación técnica para manejo de prendas quirúrgicas - PDF
                    td 
                        a(href="media/documentos/complementarios/4_Ropa_Quirurgica_Especificidades_Paquete_Basico.pdf", target="_blank") <span class="download" aria-hidden="true"></span> Descargar 

 
 
 
 
                                      