include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Ministerio de salud y protección social. (2020). RESOLUCIÓN NÚMERO 666 de 2020.", "https://id.presidencia.gov.co/Documents/200424-Resolucion-666-MinSalud.pdf")
        +referenciaItem("Ministerio de salud y protección social. (2020). Circular. No.  0018 de 2020. ", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/circular-0018-de-2020.pdf")
        +referenciaItem("Ministerio del trabajo. (2020). Circular No. 0017.", "https://www.mintrabajo.gov.co/documents/20147/0/Circular+0017.pdf/05096a91-e470-e980-2ad9-775e8419d6b1?t=1582647828087")
        +referenciaItem("Ministerio de salud y protección social. (2020). Guía con lineamientos mínimos para la fabricación de tapabocas de uso general no hospitalario en el marco de la emergencia sanitaria por enfermedad COVID-19.", "https://www.minsalud.gov.co/Ministerio/Institucional/Procesos%20y%20procedimientos/GMTG15.pdf")
        +referenciaItem("Ministerio de salud y protección social. (2020). Lista de chequeo de la Resolución 675 del 24 de abril de 2020", "https://www.colombiaproductiva.com/CMSPages/GetFile.aspx?guid=b42c4c9e-e6f8-4c47-a3c4-60961d21a091")
        +referenciaItem("Ministerio de salud y protección social. (2020). Programa de elementos de protección personal, uso y mantenimiento", "https://www.minsalud.gov.co/Ministerio/Institucional/Procesos%20y%20procedimientos/GTHS02.pdf")
        +referenciaItem("Molina, G. (2020). Fotografía material textil. Centro de Formación en Diseño Confección y Moda – SENA. [Fotografía].", "")
        +referenciaItem("Molina, G. (2020). Fotografía elástico plano. Centro de Formación en Diseño Confección y Moda – SENA. [Fotografía].", "")
        +referenciaItem("Molina, G. (2020). Fotografía elástico tapabocas. Centro de Formación en Diseño Confección y Moda – SENA. [Fotografía].", "")
        +referenciaItem("Molina, G. (2020). Fotografía hilo. Centro de Formación en Diseño Confección y Moda – SENA. [fotografía].", "")
        +referenciaItem("Molina, G. (2020). Fotografía tira nasal. Centro de Formación en Diseño Confección y Moda – SENA. [Fotografía].", "")
        +referenciaItem("Secretaría distrital de salud. (2020). Glosario de términos.", "http://www.saludcapital.gov.co/sitios/SectorBelleza/Paginas/GlosariodeTerminos.aspx#:~:text=%C2%B7%20Agente%20biol%C3%B3gico%201.,procesos%20infecciosos%2C%20t%C3%B3xicos%20o%20al%C3%A9rgicos", "http://www.saludcapital.gov.co/sitios/SectorBelleza/Paginas/GlosariodeTerminos.aspx")
        +referenciaItem("Zuluaga M. (1997). Salud ocupacional: riesgo Biológico. Servicio Nacional de Aprendizaje (SENA).", "https://repositorio.sena.edu.co/handle/11404/3707?mode=full")
        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            