.container#page-introduccion

    .header-ecored
        h1 3. Materias primas e insumos para dotación hospitalaria

    .jumbotron.bg-white  

      .jumbotron.mb-5
        .row.justify-content-center.align-items-center        
          .col-auto
            img(src="assets/images/pages/tema3/icon_01.svg", style="width: 90px").img-fluid.mb-3.mb-md-0
          .col
            p.mb-0 Usar mascarilla respiratoria N 95 y guantes para trabajo pesado (guantes de caucho), lavarlos con jabón líquido después de cada procedimiento y permitir su secado.
      .row
        .col-12
          p Reconocer las materias primas e insumos a utilizar en la confección de elementos de uso hospitalario es un requisito indispensable para cumplir con las normas técnicas colombianas. Este tipo de producto debe cumplir la función de ser barrera de contención bacteriana o biológica, además de presentar durabilidad, resistencia y comodidad en cada uno de los momentos de uso. 

          p A continuación, se presentan los insumos requeridos para la confección de tapabocas, cofias y polainas.

      .row.justify-content-center.align-items-center
        .col.col-lg-9.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema3/info_01.png", alt="").img-fluid