.container#page-introduccion

    .header-ecored
        h1 1. Normatividad vigente y conceptos técnicos


    .jumbotron.bg-white 
      .row
        .col-12
          p Al momento de elaborar productos de dotación hospitalaria es importante seguir algunas normativas que le permitan establecer protocolos de bioseguridad y condiciones ambientales favorables para los procesos de producción, por lo cual, lo invitamos a conocer la normatividad que regula la producción de este tipo de elementos de protección personal y, posteriormente apropiarse de ésta a través de la reflexión y la práctica.  

      .row.justify-content-center.align-items-center

        .col-12
          .header-arrow.my-5
            h2.text-center Normas      

        
        .col-10
          a(href="media/documentos/anexos/Anexo_1_Resolucion_666_24_de_abril_2020.pdf" target="_blank" style="color: #12263f;")
            .card-media.bg-brand-color-light
              .card-media__body                 
                figure.card__figure
                  img(src="assets/images/pages/tema1/icon_01.svg").img-fluid
                h3 Resolución 666 - 24 de abril 2020
                p.card__copy 
                  span 
                    |  Por medio de la cual se adopta el protocolo de bioseguridad para mitigar, controlar y realizar el adecuado manejo de la pandemia del Coronavirus-Covid19.    

        .col-10
          a(href="media/documentos/anexos/Anexo_2_Resolucion_675_24_de_abril_2020.pdf" target="_blank" style="color: #12263f;")
            .card-media.bg-brand-color-light
              .card-media__body                 
                figure.card__figure
                  img(src="assets/images/pages/tema1/icon_02.svg").img-fluid
                h3 Resolución 675 - 24 de abril 2020
                p.card__copy 
                  span 
                    |  Lista de Chequeo. Por medio de la cual se adopta el protocolo de bioseguridad para el manejo y control del riesgo del Coronavirus-COVID19 en la Industria Manufacturera, a través de una lista de chequeo.  

        .col-10
          a(href="media/documentos/anexos/Anexo_3_Circular_Nº0017_N0018.pdf" target="_blank" style="color: #12263f;")
            .card-media.bg-brand-color-light
              .card-media__body                 
                figure.card__figure
                  img(src="assets/images/pages/tema1/icon_03.svg").img-fluid
                h3 Circular No. 0017 y No. 0018
                p.card__copy 
                  span 
                    |  Circular No. 0017 – 24 de febrero de 2020. Lineamientos para implementar, de promoción y prevención, para la preparación, respuesta y atención de casos de enfermedad por Coronavirus-COVID19.</br></br> 
                    | Circular Externa No. 0018 – 10 de marzo de 2020. Acciones de contención ante el Coronavirus-COVID 19 y la prevención de enfermedades asociadas al primer pico epidemiológico de enfermedades respiratorias
  

        .col-10
          a(href="media/documentos/anexos/Anexo_4_GMT-G15_22_de_mayo_de_2020.pdf" target="_blank" style="color: #12263f;")
            .card-media.bg-brand-color-light
              .card-media__body                 
                figure.card__figure
                  img(src="assets/images/pages/tema1/icon_04.svg").img-fluid
                h3 GMT-G15 del 22 de mayo de 2020 
                p.card__copy 
                  span 
                    |  Lineamientos mínimos para la fabricación de tapabocas de uso general no hospitalario en el marco de la emergencia sanitaria por enfermedad Coronavirus-COVID19.   

        .col-10
          a(href="media/documentos/anexos/Anexo_5_GTHS02_01_de_septiembre_2017.pdf" target="_blank" style="color: #12263f;")
            .card-media.bg-brand-color-light
              .card-media__body                 
                figure.card__figure
                  img(src="assets/images/pages/tema1/icon_05.svg").img-fluid
                h3 GTHS02 del 01 de septiembre de 2017
                p.card__copy 
                  span 
                    |  Programa de elementos de protección personal, uso y mantenimiento. Establece las características técnicas y normativas de los elementos de protección personal – EPP, que constituyen el equipo de prevención de los trabajadores expuestos a factores de riesgo durante el desarrollo de su trabajo. 

      .row.my-5
        .col-12
          p #[strong Antes de iniciar el proceso productivo] es necesario familiarizarse con algunos conceptos e identificar las acciones necesarias para preparar las instalaciones, áreas o ambientes específicos para la confección, producción, control, embalaje, almacenamiento y despacho temporal de tapabocas, polainas y gorros de dotación hospitalaria; elementos necesarios para la protección y el autocuidado de las personas, siguiendo la normatividad vigente. 

          p En la siguiente infografía podrá revisar cada uno de los pasos que se deben tener en cuenta con el fin de garantizar condiciones de calidad y bioseguridad en la producción. En la siguiente unidad se profundizará sobre el protocolo de bioseguridad. 

      .row.justify-content-center.align-items-center
        .col.mb-5
          img(src="assets/images/pages/tema1/info_01.svg", alt="").mx-auto.d-block
        .col.mb-5
          img(src="assets/images/pages/tema1/info_02.svg", alt="").mx-auto.d-block
        .col.mb-5
          img(src="assets/images/pages/tema1/info_03.svg", alt="").mx-auto.d-block
        .col.mb-5
          img(src="assets/images/pages/tema1/info_04.svg", alt="").mx-auto.d-block
        .col.mb-5
          img(src="assets/images/pages/tema1/info_05.svg", alt="").mx-auto.d-block
        .col.mb-5
          img(src="assets/images/pages/tema1/info_06.svg", alt="").mx-auto.d-block
        .col.mb-5
          img(src="assets/images/pages/tema1/info_07.svg", alt="").mx-auto.d-block
        .col.mb-5
          img(src="assets/images/pages/tema1/info_08.svg", alt="").mx-auto.d-block
        .col.mb-5
          img(src="assets/images/pages/tema1/info_09.svg", alt="").mx-auto.d-block
        .col.mb-5
          img(src="assets/images/pages/tema1/info_10.svg", alt="").mx-auto.d-block
        .col.mb-5
          img(src="assets/images/pages/tema1/info_11.svg", alt="").mx-auto.d-block
        .col.mb-5
          img(src="assets/images/pages/tema1/info_12.svg", alt="").mx-auto.d-block       

    
         

     


              