.container#page-introduccion

    .header-ecored
        h1 2. Caracterización de productos de dotación hospitalaria

    .jumbotron.bg-white 
      .row
        .col-12
          p Los productos de dotación hospitalaria son esenciales para el cuidado del personal médico o personas en riesgo biológico. Esta indumentaria tiene como finalidad proteger la integridad del trabajador que, por la naturaleza de su trabajo, está expuesto a factores de riesgo biológicos, físicos o químicos durante su jornada laboral. 
          
          p Cada una de las imágenes que se presentan a continuación, lo llevarán a identificar las características de los productos que aprenderá a fabricar en este programa de formación.


      .row.justify-content-center.align-items-center
        .col.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema2/info_01.png", alt="").img-fluid