//Colores base del material de formación
$brand-color-dark: #00908A;
$text-color-dark: #fff;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #E6EEF3;
$text-color-light: $primary;
$brand-color-secondary: #00908A;

