include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Elaboración de tapabocas, gorros y polainas de dotación hospitalaria
        meta(meta name="description" content="Informacioón del programa Elaboración de tapabocas, gorros y polainas de dotación.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Elaboración de tapabocas, gorros y polainas de dotación
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Elaboración de tapabocas, gorros y polainas de dotación
                                        li 
                                            span #[strong Código:] 93510496
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de Ingreso:] : competencias básicas de confección. Manejo de maquinaria industrial y equipos de confección

                    

                            .col-12.col-lg-6
                                <div class="col-12 col-lg-6 text-center">
                                    <div class="d-none d-lg-block"><img class="curso-imagen" src="assets/images/header/header_media.svg" /></div>
                                </div>     


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Debido a los cambios globales derivados de la pandemia que afecta gravemente a la mayoría de los sectores productivos del mundo, las empresas de confección no son ajenas a esta situación; por lo tanto, se requiere que este sector busque alternativas que le permita seguir siendo sostenible en la medida que renueva sus prácticas, para adaptarse a las nuevas necesidades de los consumidores. 

                p La fabricación de prendas de dotación hospitalaria como son: tapabocas, gorros y polainas, se consideran elementos mínimos para la protección personal y de primera necesidad en el área de la salud, disminuyendo potencialmente los riesgos de infección para la atención de pacientes sospechosos o confirmados de COVID-19.

                p Desde esta perspectiva, El SENA ofrece el programa de “#[strong Elaboración de tapabocas, gorros y polainas de dotación hospitalaria]”, el cual tiene una duración de #[strong 48 horas], en #[strong modalidad virtual], y esta dirigido a  la industria local en el sub-sector textil de confección.

                p El desarrollo de este curso le permitirá apropiar la normatividad vigente y los requerimientos técnicos para preparar, elaborar y validar los productos de dotación hospitalaria. Para ello cada unidad temática se ha fortalecido con #[strong videos de proceso, fichas técnicas e instructivos de confección], que lo guiarán en su proceso de formación a través de un aprendizaje experiencial.

                p ¡¡Bienvenido!!

        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 Actualmente el subsector de la confección en Colombia, está categorizado como uno de los renglones de la industria manufacturera de gran impacto económico para el país, aportando el 3.6% al Producto Industrial Colombiano, donde la mayor parte de su producción se enfoca en productos especializados en moda, haciendo de éste un mercado competido y de alta eficiencia en los modelos de producción. 

                p La industria manufacturera y del vestuario, enfrenta grandes retos a nivel internacional y nacional, los cambios económicos, tecnológicos y las dinámicas de los mercados actuales, requieren de productos y procesos técnicos especializados que respondan a las necesidades de los clientes. 

                p Ante esta situación y previendo los cambios globales derivados de las pandemias que afectan actualmente la economía a nivel mundial; las empresas de la confección requieren generar estrategias enfocadas en la flexibilización de sus sistemas de producción, para reconvertirlos en procesos especializados y en productos de protección del personal, adaptados a los cambios globales del mercado. 

                p Según los estudios realizados por el Instituto Nacional de Salud de Colombia, en concordancia con la Organización Mundial de la Salud (OMS), define que los elementos mínimos para la protección personal (EPP) y de primera necesidad para la atención de pacientes sospechosos o confirmados de COVID-19 son: guantes, máscaras médicas, respiradores, gafas protectoras, protectores faciales, batas y delantales (Ministerio de Salud de Colombia, 2018, pág 29). Así mismo este estudio plantea que la proyección de personas enfermas por la pandemia del COVID-19, superará los tres millones quinientos mil infectados en el país, para lo cual se requiere equipos y vestuario especializado. 

                p De acuerdo con lo anterior, el consumo de prendas por persona, para el personal médico será de 25 unidades por paciente infectado, lo que representa un consumo potencial de 180 millones de unidades/año para el personal de la salud, sin tener en cuenta lo planteado en la lista de chequeo de la Resolución 666 de 2020, que establece el Protocolo General de Bioseguridad para el Manejo del COVID-19, donde se menciona la obligatoriedad del uso del tapabocas en el transporte público y en áreas con afluencia masiva de personas. 

                p Ante este panorama, y dado que el tema de salud pública es prioritario a escala global, es urgente suplir los requerimientos de prendas y elementos de protección para todos los ámbitos y sectores económicos que lo necesiten. Por lo anterior es importante brindar a los pequeños y medianos confeccionistas del país, herramientas e información técnica especializada que les permita cerrar las brechas de calidad y minimizar el error en los procesos de diseño y producción. 

                p Actualmente, los gremios como Acopi, Acoltex, Asoconfecciones, Confecámaras, Andi, Analtex, Textilgrupo y la Cámara Colombiana de Confecciones y Afines; buscan la protección de la industria local en el sub-sector textil confección y encaminan sus esfuerzos al cierre de brechas técnicas entre las grandes industrias, las micro y pequeñas empresas, en aras de fortalecer el sector. Para lograr este objetivo se han realizado alianzas públicas y privadas que agregan valor a las actividades de los empresarios, entendiendo las necesidades de las regiones y las oportunidades del entorno que, en tiempos de crisis, requieren la articulación país. 
                
                p En concordancia con lo anterior, se hace imperante generar estrategias que respondan a esta contingencia, reenfocando los esfuerzos comunes al diseño y desarrollo de productos de protección personal que cumplan con los requerimientos técnicos y normativos establecidos por la norma NTC 5623 y el documento del ministerio de salud sobre LINEAMIENTOS MÍNIMOS PARA LA FABRICACIÓN DE TAPABOCAS Y OTROS INSUMOS EN EL MARCO DE LA EMERGENCIA SANITARIA POR ENFERMEDAD COVID-19. 

                p Desde esta perspectiva, El SENA por medio de los centros que ofrecen formación en el diseño y desarrollo de prendas de vestir ha creado el programa Elaboración de batas y overoles de dotación hospitalaria, el cual busca busca brindar formación en la producción de prendas especializadas, donde los aprendices pueden acceder y apropiar los conocimientos y saberes requeridos para el proceso de  fabricación. 

        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Industria local en el sub-sector textil de confección.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en el utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El instructor - Tutor 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El trabajo colaborativo 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El entorno 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Las TIC

        +creditosFooter("assets/images/logos/senaLogo.svg")





