include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Salud Penitenciaria
        meta(meta name="description" content="Informacioón del programa Salud penitenciaria.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Salud Penitenciaria
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] SALUD PENITENCIARIA
                                        li 
                                            span #[strong Código:] 33110242
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de Ingreso:] : personal y/o profesional de la salud que requiere ingresar a trabajar a un Establecimiento de Reclusión del Orden Nacional (ERON).

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8VOc3YgNWas', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 El programa de salud penitenciaria está enmarcado a profesionales de la salud que ya laboren o deseen  ingresar a trabajar en el contexto del sistema penitenciario y carcelario del país. Dado lo anterior se establecen algunos elementos conceptuales, normativos, éticos y de salud en el trabajo, que permitan un acercamiento al contexto de normas y definiciones que rigen la salud penitenciaria en Colombia. 

                p Se presentará una #[strong descripción sobre los decretos y leyes que hasta el momento rigen la práctica de la atención en el servicio de salud] para las personas privadas de la libertad que deben ser tenidas en cuenta con un enfoque de servicio y diferencial, a través del compromiso con dicha población en condición de vulnerabilidad.

                p Enseguida nos acercaremos a algunas #[strong condiciones especiales de los derechos humanos concernientes a la  población privada de la libertad, basándonos en la ética médica], donde se tendrá una aproximación de abordaje holístico y de reconocimiento de las personas como pacientes, teniendo en cuenta sus particularidades de género, poblacionales y socioculturales.

                p Al finalizar lograremos #[strong identificar el Sistema de Seguridad y Salud en el Trabajo en contextos penitenciarios] que servirán de guía a los servidores, funcionarios y personal que ejercen una profesión u ocupación en salud al interior de los establecimientos de reclusión del país.

        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El programa de Salud Penitenciaria es de gran importancia, puesto que permite conocer los elementos conceptuales del sistema de salud en el ámbito penitenciario de conformidad con la normatividad vigente en Colombia, y está orientado específicamente al personal que ejerce una profesión u ocupación en salud en prisiones y de acuerdo a las necesidades de atención que requieren las personas privadas de la libertad.

                p Esta situación estudiada desde la mesa de trabajo para la formación del talento humano en salud penitenciaria en los años 2016 y 2017, condujo a la reflexión de la urgencia diseñar dispositivos orientados a contribuir a la solución de esta problemática. En este sentido la unión de actores sectoriales relacionados y responsables de la atención integral de la población privada de la libertad, miembros permanentes de esta mesa como Ministerio de Justicia y del Derecho, Ministerio de Salud y Protección Social, el Instituto Nacional penitenciario INPEC, la Unidad de Servicios Penitenciarios USPEC, con el acompañamiento de la Universidad Tecnológica de Pereira UTP, y la participación del Comité Internacional de la Cruz Roja CICR y el SENA, identificaron como medio para contribuir a la solución diseñar y poner en marcha un dispositivo académico bajo la modalidad de curso orientado a capacitar al personal del Sistema Nacional Penitenciario y Carcelario que laboran o deseen laborar en cárceles, en temáticas relacionadas con la salud en las prisiones con el fin de mejorar su desempeño y por ende a contribuir en  la comprensión de las condiciones de salud de la PPL y a su vez en su bienestar.

        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p El curso de Salud Penitenciaria es una propuesta de educación dirigida a los trabajadores que estarán involucrados en ofrecer sus servicios en el Sistema Nacional Penitenciario y Carcelario, o que ya prestan sus actividades al interior de los ERON.

                p De acuerdo a lo anterior, el programa va dirigido al talento humano en salud que se encuentra laborando o tiene proyectado vincularse laboralmente en los establecimientos penitenciarios y carcelarios de Colombia, y se busca sensibilizarlos en temáticas de salud en prisiones, derecho penitenciario, marco normativo, marco constitucional, enfoque diferencial, salud y seguridad en el trabajo en Colombia, modelo actual de atención en salud a cargo del Fondo Nacional de Salud de la PPL y manuales de atención, entre otros.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de los procesos formativos en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas, que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas en ambientes abiertos y pluritecnológicos, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias.

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el qué hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento: conocimiento: 

                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El instructor  
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Tutor 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El entorno 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Las TIC

        +creditosFooter("assets/images/logos/senaLogo.svg")





