include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Ruta de aprendizaje
        meta(meta name="description" content="Ruta de aprendizaje programa Elaboración de tapabocas, gorros y polainas de dotación hospitalaria.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Elaboración de tapabocas, gorros y polainas de dotación hospitalaria
                                h1.curso-titulo Ruta de aprendizaje

                                .brand-line-primary

                                p.curso-descripcion A continuación se presentan las actividades de aprendizaje que debe realizar el aprendiz durante el proceso formativo, estableciendo los tiempos, recursos educativos y evidencias que le permitirán  cumplir con los resultados de aprendizaje definidos para el programa de formación Elaboración de tapabocas, gorros y polainas de dotación hospitalaria.
                    

                            .col-12.col-lg-6
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_ruta.svg")           

        section#ruta.curso-resultados.section.bg-base-light.container

            .subtitulo-guion.my-4
                h2 Guía de aprendizaje 1 <br><small class="text-muted letter-spacing-1x font-weight-bold">Duración: 48 horas</small>

            .timeline__wrapper.jumbotron.py-3.px-5

                section#timeline
                    .timeline__item.br--bottom   
                        img(src="assets/images/ruta/inicio.svg", alt="")            
                        p Inicio              
                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 01
                                .title-box #[strong Actividad de aprendizaje:] Conocer la normatividad que regula la elaboración de prendas de dotación hospitalaria. 
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    p 290601234-01. Apropiar la normatividad vigente y requerimientos técnicos para la elaboración de los productos.

                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Normatividad para el manejo de prendas de dotación hospitalaria.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                        ul
                                                li 
                                                    span #[strong Evidencias de conocimiento: ]</br></br>

                                                    p AA1-EV01: Taller. Normatividad para la elaboración de prendas de dotación hospitalaria.
                                                    
                                                    p Actividad grupal, entregar un único documento de texto donde se consigne las respuestas a las preguntas formuladas en el taller, la información suministrada debe ser concreta y clara. Los grupos de trabajo se conformarán según las indicaciones dadas por el instructor.

                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 02
                                .title-box #[strong Actividad de aprendizaje:] Realizar el alistamiento previo al proceso productivo de acuerdo con protocolos de bioseguridad. 
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    
                                    p 290601234-02. Preparar recursos requeridos en la elaboración de los productos cumpliendo con la normatividad vigente y requerimientos técnicos. 

                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Planeación y alistamiento previo a la producción.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                        ul
                                            li 
                                                span #[strong Evidencias de desempeño: ]</br></br>

                                                p AA2-EV01: Informe. Alistamiento, y preparación de protocolo de bioseguridad. 
                                                
                                                p Actividad individual, para elaborar el entregable de esta evidencia utilice 
                                                    u guía para hacer un videoclip
                                                    | , recuerde proporcionar únicamente el enlace para el caso del videoclip. 
   

                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 03
                                .title-box #[strong Actividad de aprendizaje:] Elaborar prendas de dotación hospitalaria para la protección y el autocuidado de las personas, aplicando criterios técnicos, protocolos establecidos y la normatividad vigente. 
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    
                                    p 290601234-03. Desarrollar los productos cumpliendo con la normatividad vigente y requerimientos técnicos.
                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Ejecución de procesos productivos.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                        ul
                                            li 
                                                span #[strong Evidencias de producto: ]</br></br>

                                                p AA3-EV01: Informe. Proceso de producción. 
                                                
                                                p Actividad individual, para elaborar el entregable de esta evidencia utilice la 
                                                    u guía para hacer un videoclip
                                                    | , recuerde proporcionar únicamente el enlace para el caso del (los) videoclip.


                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 04
                                .title-box #[strong Actividad de aprendizaje:] Verificar el cumplimiento de los requerimientos en las prendas terminadas de acuerdo con las especificaciones de la ficha técnica y la normativa vigente. 
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    
                                    p 290601234-04. Validar en los productos el cumplimiento de la normatividad vigente y requerimientos técnicos. 
                                    
                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Control y validación de procesos productivos.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                        ul
                                            li 
                                                span #[strong Evidencias de desempeño y producto: ]</br></br> 

                                                p AA4-EV01: Informe. Control de calidad de producto terminado.  

                                                p Actividad individual, para elaborar el entregable de esta evidencia utilice la 
                                                    u guía para hacer un videoclip
                                                    | , recuerde proporcionar únicamente el enlace para el caso del (los) videoclip.

        
                    .timeline__item.br--top                
                        img(src="assets/images/ruta/certificacion.svg", alt="")    
                        p Certificación        
                    

        +creditosFooter("assets/images/logos/senaLogo.svg")


        script(src="assets/js/vendor.js")
        script(src="assets/js/global.js")        
        script(src="assets/js/pages.js")





