$btn-height: 44px;
$font-size-lead: 18px;

// Scroll to Top Button
.scroll-to-top-btn {
  display: block;
  position: fixed;
  right: 32px;
  bottom: -($btn-height * 2);
  width: $btn-height;
  height: $btn-height;
  transition: bottom 400ms cubic-bezier(.68, -.55, .265, 1.55), opacity .3s, background-color .3s, border-color .3s;
  border-radius: 50%;
  background-color: rgba($black, .3);
  color: $white !important;
  font-size: $font-size-lead;
  line-height: ($btn-height - 5);
  opacity: 0;
  z-index: 2000;
  text: {
    align: center;
    decoration: none;
  }
  &:hover {
    background-color: $primary;
    color: $white;
    cursor: pointer;
  }
  &:focus, &:active { color: $white; }
  &.visible {
    bottom: 14px;
    opacity: 1;
  }
}
