.brand-line-primary {
    width: 60px;
    height: 6px;
    margin: 1.5rem 0 2rem 0;
    background-color: $base-color-highlight;
}

.line-100 {
    width: 100%;
    height: 3px;
}

.line-40 {
    width: 40%;
    height: 2px;
}